/* default elements */
*{margin:0px;padding:0px; }

p
{
  font-family:Verdana, Arial, helvetica, sans-serif;
  font-size: 0.85em; 
  font-weight: normal;
  color:#000;
	margin: 10px auto;
  line-height:1.6em
}

a
{
  color:#0091d3;
  font-size:1em; 
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
	
	outline: none;
	-moz-outline-style: none;
}


a:link
{
  color:#0091d3;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}

a:visited
{
  font-style:normal;
  font-weight:normal;
  text-decoration:none;
}


a:hover
{
  color:#000; 
  font-style:normal;
  text-decoration:none;
  border-bottom:1px dotted #4e4e4e;
}

	
/* Layout */
body
{
  margin: 0;
  padding:0;
  font-family: Verdana,'Lucida Grande', Verdana, Helvetica, sans-serif;
  background:#ffffff url(Img/body-bg.gif) repeat-x;
  list-style:none;
}

#wrapper 

{
  margin-top: 0pt;
  margin-right: auto;
  margin-left: auto;
  height:300px;
  width:1000px;
  background:transparent;
}

#header 
{
  width: 100%;
  background: #fff;

}

#header .logo
{
  float:left;
  margin-top:34px;
  padding-top:0px;
  padding-left:32px;
  border: none;
}

#nav
{
	width: 100%;
	overflow: hidden;
}

#nav ul
{
	float: right;
  display:block;
  list-style:none;
  margin-top:10px;
  margin-left:0px;
}

#nav li
{
  float:left;
  margin-bottom:0px;
  padding-bottom:0px;
  padding-right:5px;
}

#nav ul li a
{
  float:left;
  display:block;
  margin-right:1px;
  padding-right:5px;
  padding-left:5px;
  padding-top:3px;
  padding-bottom:0px;
  color: #4e4e4e;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
}

#nav  li a:hover
{
  color:#0091d3;
  border-bottom:1px dotted #4e4e4e;
}

#nav .selected
{
  color: #0091d3;
  border-bottom:1px dotted #4e4e4e;
}

#content 
{
  float:left;
  background-color:transparent;
  width:100%;
  border-bottom:1px solid #eaeaea;
}

#toppy
{
  background-color:transparent;
  margin-top:40px;
  margin-bottom:5px;
  padding:10px;
  width: 970px;
  border-top:1px dotted #bbbbbb;
  border-bottom:1px dotted #bbbbbb;
}

#toppy h1
{ 
  font-family:Georgia;
  font-size:2.5em;
  color: #000;
  font-weight:normal;
  padding-bottom:10px;
}

#footer 
{
  clear: both;
  margin-right: 0px;
  margin-bottom:0px;
  margin-left: 0px;
  padding:8px;
  background-color:transparent;
  text-align:center;
  border-top:1px dotted #bbbbbb;
}

#footer p
{
  font-size: 0.7em;
  line-height:3em;
  font-family: arial;
  font-weight: normal;
  color: #5b5b5b;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: center;
}

.col1
{
  float:left;
  background-color:transparent;
  margin-top:10px;
  margin-bottom:5px;
  width: 100%;
}

.col1 .entry
{
	width: 100%;
	margin: 30px 0px;
	overflow: hidden;
}

.col1 .entry .thumb
{
	float: left;
	text-align: center;
	width: 200px;
}

.col1 .entry .thumb img
{
	border: solid 1px;
}


.col1 .entry .description
{
	float: left;
	margin-left: 10px;
	width: 770px;
}

.col1 .entry .description p
{
  margin-top: 0; 
}

.left
{
  float: left;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}

.right
{
  float: right;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}

.bold
{
	font-weight: 800;
}


ol, ul
{
	margin: 0px;
	padding: 0px;
	font: 12px Verdana,Arial,helvetica,sans-serif; 
}

ol li, ul li
{
	margin: 0px 0px 10px 18px;
	padding: 0px;
}


ol li p, ul li p
{
	font-size: 12px;
}

h1
{ 
  font-family:Georgia;
  font-size: 32px;
  color: #000;
  font-weight:normal;
  padding-bottom:10px;
}

h2
{ 
  font-family:Georgia;
  font-size: 24px;
  color: #000;
  font-weight:normal;
  padding-bottom: 10px;
  padding-top: 10px; 
  border-bottom: dotted 1px #BBBBBB;
}

h3
{ 
  font-family:Georgia;
  font-size: 14px;
  color: #000;
  font-weight: 800;
  padding-bottom:10px;
}
