.themecolor1 {
	COLOR: #505050
}
.themecolor2 {
	COLOR: #dc3c1e
}
.themecolor3 {
	COLOR: #f0640f
}
.themecolor4 {
	COLOR: #fec82a
}
.themecolor5 {
	COLOR: #4e9e19
}
.themecolor6 {
	COLOR: #d2d246
}
.themecolor7 {
	COLOR: #94b5e0
}
.themecolor1bg {
	BACKGROUND-COLOR: #505050
}
.themecolor2bg {
	BACKGROUND-COLOR: #dc3c1e
}
.themecolor3bg {
	BACKGROUND-COLOR: #f0640f
}
.themecolor4bg {
	BACKGROUND-COLOR: #fec82a
}
.themecolor5bg {
	BACKGROUND-COLOR: #4e9e19
}
.themecolor6bg {
	BACKGROUND-COLOR: #d2d246
}
.themecolor7bg {
	BACKGROUND-COLOR: #94b5e0
}
