BODY {
	PADDING-TOP: 0px
}
#content {
	
}
#header {
	MARGIN-BOTTOM: 0px
}
#header_full_banner {
	MARGIN: 0px
}
#header_logo {
	BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 1px; HEIGHT: 1px
}
#footer {
	COLOR: #999; PADDING-TOP: 10px
}
#footer_links A {
	FONT-SIZE: 11px; MARGIN-LEFT: 10px; COLOR: #999
}
#footer_logo {
	DISPLAY: none
}
#copyright_nobrand {
	DISPLAY: block; FONT-SIZE: 11px
}
#footer_links {
	DISPLAY: block; FLOAT: none; PADDING-TOP: 10px
}
#header_banner {
	DISPLAY: none
}
#header_logo_banner {
	DISPLAY: none
}
#copyright_lacerte {
	DISPLAY: none
}
#copyright_proserieslacerte {
	DISPLAY: none
}
#copyright_proseries {
	DISPLAY: none
}
#footer_fineprint {
	DISPLAY: none
}
