/* CSS Document */

body
{ margin:0; padding:0; font-family:Verdana, Arial, Helvetica, sans-serif; color:#505050;}

a, a img
{ border:0; text-decoration:none; color:#365ebf;}

p,ul, ul li, h1,h2,h3,h4,h5,h6
{ margin:0; padding:0;}

h1,h2,h3,h4,h5,h6
{ font-family:"Trebuchet MS";}

.floatright
{ float:right !important;}

.maindv
{ width:934px; margin:0 auto;}

.header
{ width:934px; float:left; padding:24px 0 39px 0;}

.header img
{ float:left;}

.header p
{ font-family:"Trebuchet MS"; font-size:15px; font-weight:bold; color:#505050; padding:27px 0 0 116px; float:left;}

.header p span
{color:#365ebf;}

.header img.intuit
{ padding:18px 0 0 0;}

.hero
{ background:url(../images/hero_bg.gif) no-repeat; width:911px; height:200px; float:left; padding:20px 0 10px 16px;}

.hero h1
{ color:#365ebf; font-size:38px; font-weight:normal; padding:0 0 19px 0;}

.hero p
{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#505050; padding:0 0 13px;}

.container
{ width:934px; float:left;}

.left_cont
{ float:left; width:605px; padding:0 10px 0 0;}

.left_cont img
{ float:left;}

.right_cont
{ background:url(../images/right_bg.gif) no-repeat; width:290px; float:left; padding:13px 10px 0 10px; height:297px;}

.right_cont h1
{ font-size:21px; color:#365ebf; padding:0 0 6px 0; }

.right_cont h2
{ font-size:14px; color:#505050; font-weight:bold; font-family:Verdana, Arial, Helvetica, sans-serif; padding:0 0 15px;}

.right_cont p
{ font-size:11px; line-height:1.4em;}

.ready
{ float:left; padding:23px 3px 0 6px;}

.right_cont h3
{ font-size:21px; color:#365ebf; font-weight:bold; padding:0px 0 5px 0;}

.right_cont div p
{ font-weight:bold; line-height:15px; padding:0 0 4px;}

.form_dv
{ width:603px; float:left; border:1px solid #b3b3b3; border-width:0px 1px; padding:0 0 7px 0;}

.footer
{ width:934px; float:left; padding:33px 0 100px 0;}

.footer p
{ font-size:10px; color:#999999; padding:0 15px 10px 0; }

/*   thankyou page   */

.banner
{ background:url(../images/header_bg.jpg) no-repeat; width:705px; height:353px; float:left; padding:30px 0 0 225px;}

.left_banner
{ width:215px; float:left; padding:0 43px 0px 0;}

.left_banner h1
{ font-size:35px; font-weight:bold; font-weight:bold; color:#365ebf; padding:0 0 12px; line-height:41px;}

.left_banner h2
{ font-size:17px; font-weight:bold; color:#505050; line-height:19px;}

.right_banner
{ float:left; width:350px;}

.right_banner h3
{ font-size:21px; font-weight:bold; color:#365ebf; padding:0 0 7px;}

.right_banner p
{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#505050; height:45px;}

.right_banner .top
{ height:158px;}

.right_banner .bottom p
{ height:76px; line-height:15px;}



.dialogQABox
{width:285px !important; float:left; padding:0 0 0 15px; height:45px;}

.dialogQuestion
{ font-family:verdana; font-size:11px; color:#505050; width:100% !important; padding:0 0 3px;}

.dialogAnswer input , .dialogAnswer select
{border:1px solid #b5b5b5; width:157px; background:url(../images/input_bg.gif) repeat-x;}

.dialogAnswer input
{padding:2px 0;}

.dialogAnswer input#Email_s , .dialogAnswer input.default
{width:194px;}

.dialogAnswer input#ZipUSNew_s
{width:113px;}

.dialogClearLeft
{clear:none !important;}

.form_dv p
{font-family:verdana; font-size:10px; color:#666666; width:270px; padding:10px 20px 0 0; float:right; clear:both; }

.form_dv .btn-continue
{width:169px; height:28px; background:url(../images/free_soft.gif) no-repeat; display:block; float:right; padding:0; margin:0 120px 0 0; _margin:0 60px 0 0; border:0; position:relative; top:6px; z-index: 1; }
